


<div *ngIf="!!inputObject && inputObject.length; else elseBlock" >
  <button class="btn btn-outline-success" id="create" routerLink="/createnew">Добавить</button>
  <table class="table">
    <thead>
    <tr>
      <th>Переместить</th>
      <th scope="col" *ngFor="let item of inputObject[0]">
        {{item.key}}
      </th>
      <th>Подробнее</th>
      <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of inputObject; let idx = index">
      <th scope="row" id="arrows">
        <button (click)="rowUp(idx)" [disabled]="idx==0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"></path>
        </svg></button>
        <button (click)="rowDown(idx)" [disabled]="idx + 1==inputObject.length"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg></button></th>
      <td *ngFor="let item of row">{{item.value}}</td>
      <td><a routerLink="/list/{{idx}}">Редактировать</a></td>
      <td><button class="btn btn-outline-danger" (click)="dataInputService.deleteIndex(idx)">Удалить</button></td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #elseBlock>
  <app-error></app-error>
</ng-template>


