
<textarea class="form-control" aria-label="With textarea" (change)= proceedInput($event) id="textarea" [(ngModel)]="placeholder" placeholder="[{'a':'b'},{'a':'d'}]">
</textarea>
<input (change)="proceedInput($event)" type="file" id="file" required>
<button type="button" routerLink="/list" (click)="setValues()" class="btn btn-light">Продолжить</button>

<div [hidden]="valid" class="error-banner">
  <div class="alert alert-danger" role="alert">
    Not valid JSON
  </div>
</div>


