/* You can add global styles to this file, and also import other style files */
@mixin button-success {
  margin-top: 25px;
  float: right;
  background: #37e026 !important;
  color: white;

  &:hover {
    background: darken(#37e026, 10) !important;
  }
}

@mixin text-area {
  margin: 50px 10px 0 10px;
  height: 20vh;
  width: 90%;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-image: url('/assets/1.jpg');
  min-width: 400px;
}
